/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~angular-notifier/styles";

.background {
  background-image: url(/assets/background.jpg);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.back-green {
  color: black;
  background: #b4ecb4;
}

.back-red {
  color: black;
  background: #ff736a;
}

.mat-toolbar {
  background: rgb(46, 46, 46);
  color: #fff
}
