/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.background {
  background-image: url(./modules/root/pictures/back.jpeg);
  background-size: cover;
}

.back-green {
  color: black;
  background: #b4ecb4;
}

.back-red {
  color: black;
  background: #ff736a;
}
