<!DOCTYPE html>
<form class="example-form">
    <h2> Verification </h2>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter code:</mat-label>
        <input matInput type="number" value="" [formControl]="codeFromDialog" min="0" id="code-verification-input">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="checkCode()" [mat-dialog-close]="true"
        id="code-verification-button">Ok</button>
    <button mat-raised-button color="primary" [ngStyle]="{'float': 'right'}" [mat-dialog-close]="true">Cancel</button>
</form>