<!DOCTYPE html>

<div>
  <mat-card class="search-card">
    <div fxLayout="row">
      <div class="div-category-select">
        <mat-label>Select Category:</mat-label>
        <mat-select
          [value]="categories[0]"
          class="category-select"
          (selectionChange)="filterByCategory($event.value)"
        >
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </div>
      <div class="div-search-bar">
        <form [formGroup]="searchForm">
          <mat-form-field
            ><input
              type="text"
              matInput
              placeholder="Search"
              formControlName="searchTerm"
          /></mat-form-field>
        </form>
      </div>
    </div>
    <div fxLayout="row">
      <div class="button-group">
        <button
          class="search-button"
          mat-raised-button
          color="primary"
          (click)="search()"
        >
          Search
        </button>
        <button
          class="reset-button"
          mat-raised-button
          color="primary"
          (click)="resetSearchFilter()"
        >
          Reset
        </button>
      </div>
    </div>
  </mat-card>
</div>

<div>
  <p-carousel
    [value]="items"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
  >
    <ng-template let-item pTemplate="item">
      <mat-card class="item-card">
        <div class="item-content">
          <div>
            <h2>{{ item.name }}</h2>
            <h2>{{ item.description }}</h2>
            <h2>Price: {{ item.sellingPrice }}RSD</h2>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="addItemToOrder(item)"
          >
            Add To Order
          </button>
        </div>
      </mat-card>
    </ng-template>
  </p-carousel>
</div>

<div>
  <mat-card class="table-card">
    <mat-card-title>Table {{table.tableNumber}}</mat-card-title>
    <div class="data-table">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoading"
      ></mat-progress-bar>
      <table mat-table [dataSource]="itemInOrderDataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="column-name">
            Item
          </th>
          <td mat-cell *matCellDef="let element" class="column-name">
            {{element.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef class="column-quantity">
            Quantity
          </th>
          <td mat-cell *matCellDef="let element" class="column-selling-price">
            <button mat-icon-button class="plusMinus" (click)="decrease(element.itemId)"> - </button>
            {{element.quantity}}
            <button mat-icon-button class="plusMinus" (click)="increase(element.itemId)"> + </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="sellingPrice">
          <th mat-header-cell *matHeaderCellDef class="column-selling-price">
            Price
          </th>
          <td mat-cell *matCellDef="let element" class="column-selling-price">
            {{ element.sellingPrice }}RSD
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="column-remove-button">
          </th>
          <td mat-cell *matCellDef="let element" class="column-remove-button">
            <button
              mat-raised-button
              color="primary"
              (click)="removeItemFromOrder(element.itemId)"
            >
              Remove
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItemsInOrder"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsItemsInOrder"
        ></tr>
      </table>
    </div>
    <mat-card-footer class="total">Total Price : {{totalPrice}}</mat-card-footer>
  </mat-card>
</div>

<div fxLayout="row">
  <div class="div-create-new-item-and-menu-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="createOrder()"
    >
      Order
    </button>
    <button
      mat-raised-button
      color="primary"
    >
      Cancel
    </button>
  </div>
</div>