$background-color-light-blue: #deede6;

.add-button {
  margin-left: 10px;
  margin-top: 10px;
}

.add-employee-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.field-width {
  width: 100%;
}

.table-card {
  max-width: 1000px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: $background-color-light-blue;
}

.data-table {
  width: 100%;
}

table {
  width: 100%;
}

.column-name {
  width: 10%;
}

.column-payment {
  width: 5%;
}

.column-job {
  width: 15%;
  padding-left: 15px;
}

.column-code {
  width: 5%;
}

.column-edit-button {
  width: 5%;
}

.column-delete-button {
  width: 5%;
}
