<!DOCTYPE html>
<div>

  <mat-card>
    <form [formGroup]="zonesForm">
      <div class="dropdown-zones">
        <h4>Zone:</h4>
        <mat-form-field appearance="fill">
          <mat-label>Choose zone</mat-label>
          <mat-select #z (selectionChange)="getTables(z.value)" formControlName="zoneSelect">
            <mat-option *ngFor="let zone of zones" [value]="zone.id">
              {{zone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <mat-card *ngIf="tables.length !== 0">
    <div class="tables">
      <div class="inline" *ngFor="let table of tables">
        <button class="table" mat-raised-button [ngStyle]="{'backgroundColor' : tableColor(table.state)}" (click)="tableClick(table)">
          Table {{table.tableNumber}} <br/> {{table.state}}  </button>
      </div>
    </div>
  </mat-card>

  <ng-template #freeTableDialog>
    <button mat-raised-button color="primary" (click)="reserveTable()">Reserve table</button>
    <button mat-raised-button color="primary" (click)="order()">Order</button>
  </ng-template>

  <ng-template #tableOrderDialog>
    
    <mat-card class="table-card">
      <mat-card-title class="inline">Table {{currentTable.tableNumber}}</mat-card-title>
      <button
        class="floatRight"
        mat-raised-button
        color="primary"
        (click)="removeOrder()"
      >
          Remove
      </button>
      <button
        class="floatRight"
        mat-raised-button
        color="primary"
        (click)="redirectToAddItemsComponent()"
      >
          Add items
      </button>
      <div class="data-table">
        <table mat-table [dataSource]="itemInOrderDataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="column-name">
              Item
            </th>
            <td mat-cell *matCellDef="let element" class="column-name">
              {{element.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="sellingPrice">
            <th mat-header-cell *matHeaderCellDef class="column-selling-price">
              Price
            </th>
            <td mat-cell *matCellDef="let element" class="column-selling-price">
              {{ element.sellingPrice }}RSD
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef class="column-remove-button">
            </th>
            <td mat-cell *matCellDef="let element" class="column-remove-button">
              <button
                mat-raised-button
                color="primary"
                *ngIf="element.state === 'NEW'"
                (click)="removeItem(element.id)">
                Remove
              </button>
              <button
                mat-raised-button
                color="primary"
                *ngIf="element.state === 'TO_DELIVER'"
                (click)="deliver(element.id)">
                Deliver
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsItemsInOrder"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsItemsInOrder"
            [ngStyle]="{'backgroundColor' : itemColor(row.state)}"
          ></tr>
        </table>
      </div>
    </mat-card>

  </ng-template>

  <ng-template #paymentTableDialog>
    <h2> Charge order </h2>
    <h3 class="inline">Amount that needs to be payed: </h3>
    <span class="inline">{{currentOrder.totalPrice}}</span>

    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="pay()">Pay</button>
      <button mat-raised-button color="primary" [ngStyle]="{'float': 'right'}" [mat-dialog-close]="true">Cancel</button>
    </div>
  </ng-template>

  <ng-template #codeVerificationDialog>

    <form class="example-form">
      <h2> Verification </h2>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter code:</mat-label>
        <input matInput type="number" value="" [formControl]="codeFromDialog" min="0">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="checkCode()" [mat-dialog-close]="true">Ok</button>
      <button mat-raised-button color="primary" [ngStyle]="{'float': 'right'}" [mat-dialog-close]="true">Cancel</button>
    </form>
  </ng-template>

</div>
