<!DOCTYPE html>
<div (click)="pageClick()">

  <mat-card>
    <form [formGroup]="zonesForm">
      <div class="dropdown-zones">
        <h4>Zone:</h4>
        <mat-form-field appearance="fill">
          <mat-label>Choose zone</mat-label>
          <mat-select id="zone-select" #z (selectionChange)="getTables(z.value)" formControlName="zoneSelect">
            <mat-option id="{{'zone-select-' + zone.id}}" *ngFor="let zone of zones" [value]="zone.id">
              {{zone.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card>

  <mat-card *ngIf="tables.length !== 0">
    <div class="tables" id="tables">
      <div class="inline" *ngFor="let table of tables">
        <app-waiter-table [table]="table" [webSocketItemChange]=" webSocketItemChange"
          [webSocketOrders]="webSocketOrders" (sentEarlier)="sentEarlier()" (getTables)="getTables($event)">
        </app-waiter-table>
      </div>
    </div>
  </mat-card>

  <notifier-container></notifier-container>

</div>