mat-sidenav-container {
	height: 100%;
}
mat-sidenav-content {
	height: 100%;
	background-image: url(../../assets/background.jpg);
	background-size: 100% 100%;
  	background-repeat: no-repeat;
}
mat-sidenav {
	height: 100%;
	width: 250px;
}
main {
	padding: 10px;
}
