$background-color-light-blue: #deede6;

%center-content {
  margin-left: auto !important;
  margin-right: auto !important;
}

.table-card {
  @extend %center-content;
  margin-top: 20px;
  width: 1500px;
  height: 870px;
  background-color: $background-color-light-blue;
}

.div-zone-select {
  margin-top: 20px;
  font-weight: bold;
}

.div-create-new-zone-and-add-table-buttons {
  @extend %center-content;
  margin-top: 20px;
  button {
    margin-left: 10px;
    width: 200px;
    height: 50px;
  }
}

.form {
  min-width: 500px;
  width: 100%;

  .field-width {
    width: 100%;
  }
}

.table {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.table-plan {
  margin-top: 20px;
  border-style: groove;
  text-align: center;
  background-image: url("../../../../assets/floorPlan.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  height: 650px;
  max-width: 1500px;
  position: relative;
}

::ng-deep .mat-tooltip {
  font-size: 20px;
  white-space: pre-line !important;
}
